<ion-header>
  <ion-toolbar>
    <ion-title>Ny transaksjon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-input
    class="amount"
    type="number"
    inputmode="decimal"
    placeholder="0"
    [(ngModel)]="amount"
  ></ion-input>

  <ion-input
    label="Tittel"
    labelPlacement="floating"
    fill="outline"
    placeholder="F.eks. Håndkrem"
    [(ngModel)]="title"
  ></ion-input>

  <ion-select
    label="Kategori"
    labelPlacement="floating"
    fill="outline"
    interface="action-sheet"
    placeholder="Velg kategori"
    [(ngModel)]="selectedCategoryId"
  >
    @for (c of categories; track c.id) {
      <ion-select-option [value]="c.id">{{ c.name }}</ion-select-option>
    }
  </ion-select>

  <div class="date-row">
    <span>Dato</span>
    <ion-datetime-button datetime="date-picker"></ion-datetime-button>
  </div>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="date-picker" presentation="date" [(ngModel)]="date"></ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-button expand="block" size="large" (click)="save()" [disabled]="!amount || !selectedCategoryId">
    Lagre
  </ion-button>
</ion-content>